<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

        <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="true"/>
    <!--node pkg="tf" type="static_transform_publisher" name="planner_teb" args="1.4 0 0 0 0 0 0 base_link planner_link 100" /--> 

    <!--include  file="$(find driver_sim)/launch/sim_driver.launch"/-->
    <include  file="$(find car_model)/launch/spawn_car.launch"/>
    <!-- 定位模块 -->
    <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename smart_navigation.lua"
      output="screen">
    </node>
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="/home/lrd/map/33.yaml">
    </node>
     <!---load_state_filename $(find lidar_slam)/map/mymap1.pbstream-->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find zhongqi_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find zhongqi_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find zhongqi_navigation)/param/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find zhongqi_navigation)/param/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find zhongqi_navigation)/param/teb_local_planner_params.yaml" command="load" />
                <rosparam file="$(find zhongqi_navigation)/param/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

                <param name="clearing_rotation_allowed" value="false" />
                <remap from="/cmd_vel" to="/smart/cmd_vel" />
 <!-- Our carlike robot is not able to rotate in place -->
	</node>


	<!--  ****** Maps *****  -->
	<!--node name="map_server" pkg="map_server" type="map_server" args="$(find lidar_slam)/map/mymap.yaml" output="screen">
                <param name="frame_id" value="map"/>
	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find zhongqi_navigation)/param/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node-->

	  <!--  **************** Visualisation ****************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zhongqi_navigation)/rviz/teb_navigation.rviz" />

</launch>
